.aside-layout {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: $aside-width;
  min-width: 420px;
  padding-left: $aside-padding-left;
  text-align: center;
  color: $aside-color;
  // background: #354154;
  background: whitesmoke;
  z-index: 1;

  &__wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: auto;
    width: 420px;
    overflow-y: auto;
    background: whitesmoke;
  }

  &__container {
    background-color: white;
  }

  &__title {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 28px;
    line-height: 32px;
    color: #1c2129;
  }

  &__subtitle {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1023px) {
  .aside-layout {
    width: 100%;
    min-width: auto;
    &__wrapper {
      position: relative;
      width: 100%;
      box-sizing: border-box;
    }
  }
}

