.song {
  padding-top: 20px;
  padding-bottom: 10px;

  .title {
    max-width: 70%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
  }
}


